{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.openmama_sidebar.entries %}

{% elsif page.sidebar == "openmama_sidebar" %}
{% assign sidebar = site.data.sidebars.openmama_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.openmama_sidebar.entries %}
{% endif %}

{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.openmama_sidebar.entries %}

{% elsif site.product == "openmama" %}
{% assign sidebar = site.data.sidebars.openmama_sidebar.entries %}

{% else %}
{% assign sidebar_pdf = site.data.sidebars.openmama_sidebar.entries %}
{% endif %}
